ENV=development
PORT=12345

APP_NAME=dexon-service
API_HOST=0.0.0.0

JWT_SECRET=my-secret

OPENOBSERVE_ENDPOINT=http://localhost:5080
OPENOBSERVE_CREDENTIAL=cm9vdEBnbWFpbC5jb206UjhzWkd6T3lnMTFrblFhTw==

ALCHEMY_WEBSOCKET_URL=

POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/dexon?sslmode=disable

MIGRATION_URL=file://pkg/db/migration

CONTRACT_ADDRESS=0x1a2a1c938ce3e0b9d0f8b7b6c1e3a1d5f0f7b4f0
